### **Proyecto Final: Análisis de Ventas de Cafeterías**


#### I. Descripción general del DataSet

- Para este proyecto, se ha seleccionado el dataset llamado **Ventas de Cafeterías**, el cual se puede encontrar en `Kaggle`, mediante la siguiente dirección web: https://www.kaggle.com/datasets/ahmedabbas757/coffee-sales
- Como detalle general, se puede mencionar que este dataset contiene registros de transacciones de una cafetería ficticia llamada "Maven Roasters", la cual opera mediante 3 sucursales en la ciudad de Nueva York (USA).
- La extensión del dataset original era Excel (xlsx), fue transformado a CSV.

#### II. Importación de Librerias

In [1]:
# A continuación se realiza la importación de las librerias a utilizar
import pandas as pd
import numpy as np

#### III. Carga de Datos y Lectura previa del Dataset

In [2]:
# Carga de datos desde archivo CSV
df = pd.read_csv(r'..\Coffee-Shop-Sales.csv')
# Tamaño del DataFrame
print(f"Dimensiones del DataFrame: {df.shape}")
# Mostrar primeras 5 filas
df.head()

Dimensiones del DataFrame: (149116, 11)

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,1/1/2023,7:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,1/1/2023,7:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,1/1/2023,7:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,1/1/2023,7:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,1/1/2023,7:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg

#### IV. Inspección de Datos

##### 1. Descripción de columnas

In [3]:
# A continuación se describen las columnas que presenta el dataset, qué representa cada una y a qué tipo de datos corresponden
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  object
 2   transaction_time  149116 non-null  object
 3   transaction_qty   149116 non-null  int64
 4   store_id          149116 non-null  int64
 5   store_location    149116 non-null  object
 6   product_id        149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   product_category  149116 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
dtypes: float64(1), int64(4), object(6)
memory usage: 12.5+ MB

##### Detalle

- **transaction_id (int):** ID único que representa una transacción en particular.
- **transaction_date (object, class str):** Fecha en que se realizó la transacción (el formato se encuentra como MM/DD/AA). 
- **transaction_time (object, class str):** Hora en que se realizó la transacción (el formato se encuentra como HH:MM:SS).
- **transaction_qty (int):** Cantidad de productos vendidos.
- **store_id (int):** ID único de cada sucursal o cafetería.
- **store_location (object, class str):** Ubicación de la cafetería donde se realizó la transacción.
- **product_id (int):** ID único de cada producto vendido.
- **unit_price (float):** Precio unitario con el cual se vende el producto.
- **product_category (object, class str):** Categoría a la cual pertenece un producto.
- **product_type (object, class str):** Tipo de producto.
- **product_detail (object, class str):** Detalle del producto.