### **Proyecto Final: Análisis de Ventas de Cafeterías**


#### I. Descripción general del DataSet

- Para este proyecto, se ha seleccionado el dataset llamado **Ventas de Cafeterías**, el cual se puede encontrar en `Kaggle`, mediante la siguiente dirección web: https://www.kaggle.com/datasets/ahmedabbas757/coffee-sales
- Como detalle general, se puede mencionar que este dataset contiene registros de transacciones de una cafetería ficticia llamada "Maven Roasters", la cual opera mediante 3 sucursales en la ciudad de Nueva York (USA).
- La extensión del dataset original era Excel (xlsx), fue transformado a CSV.

#### II. Importación de Librerias

In [1]:
# A continuación se realiza la importación de las librerias a utilizar
import pandas as pd
import numpy as np

#### III. Carga de Datos y Lectura previa del Dataset

In [2]:
# Carga de datos desde archivo CSV
df = pd.read_csv(r'..\Coffee-Shop-Sales.csv')
# Tamaño del DataFrame
print(f"Dimensiones del DataFrame: {df.shape}")
# Mostrar primeras 5 filas
df.head()

Dimensiones del DataFrame: (149116, 11)

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail
0,1,1/1/2023,7:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg
1,2,1/1/2023,7:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg
2,3,1/1/2023,7:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg
3,4,1/1/2023,7:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm
4,5,1/1/2023,7:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg